/* GLOBAL SASS */
* {
  font-family: "Roboto", sans-serif; }

html, body {
  height: 100%; }

/* VARIABLES AND MIXINS */
/* HEADER */
.header-row {
  background-color: #585E69;
  height: 6em; }
  .header-row .header-left {
    height: 100%;
    padding-top: 1.5em;
    background-color: #1144AA;
    text-align: center;
    z-index: 3; }
    .header-row .header-left .title {
      font-family: "Orbitron", sans-serif;
      font-size: 2.5em;
      color: #FFFFFF; }
  .header-row .header-right {
    height: 100%;
    z-index: 2;
    -webkit-box-shadow: 3px 3px 5px 1px #a8a8a8;
    -moz-box-shadow: 3px 3px 5px 1px #a8a8a8;
    box-shadow: 3px 3px 5px 1px #a8a8a8; }
    .header-row .header-right #info {
      display: inline-block;
      margin-top: 15px;
      padding: 5px; }

/* MAIN BODY */
.body-row {
  height: calc(100% - 6em); }
  .body-row .body-left {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #585E69;
    z-index: 2;
    font-size: 0.9em;
    -webkit-box-shadow: 3px 3px 5px 1px #a8a8a8;
    -moz-box-shadow: 3px 3px 5px 1px #a8a8a8;
    box-shadow: 3px 3px 5px 1px #a8a8a8; }
    .body-row .body-left .form-title {
      font-size: 1.6em; }
    .body-row .body-left .class-add {
      color: #F2F2F2;
      margin: 0 1em 1em 1em;
      padding-bottom: 1em; }
      .body-row .body-left .class-add .course {
        border-bottom: 2px solid #1144AA;
        margin-top: 3px;
        padding-bottom: 3px; }
      .body-row .body-left .class-add select, .body-row .body-left .class-add button {
        color: #222222; }
    .body-row .body-left .class-pick {
      border-bottom: 2px solid #1144AA;
      padding-top: 1em; }
      .body-row .body-left .class-pick select {
        max-width: 100%; }
    .body-row .body-left .class-count {
      margin-bottom: 20px;
      margin-top: 20px; }
  .body-row .body-right {
    height: 100%;
    background-color: #f2f2f2;
    padding: 15px; }
    .body-row .body-right #cal-container {
      border: 0;
      border-radius: 0;
      height: calc(100% - 70px);
      margin: 0;
      -webkit-box-shadow: 3px 3px 5px 1px #a8a8a8;
      -moz-box-shadow: 3px 3px 5px 1px #a8a8a8;
      box-shadow: 3px 3px 5px 1px #a8a8a8; }
      .body-row .body-right #cal-container .panel-body {
        height: 100%; }
    .body-row .body-right .footer {
      margin-top: 10px;
      text-align: center; }
      .body-row .body-right .footer a {
        color: #4DB5B9; }
        .body-row .body-right .footer a:hover {
          color: #222222;
          text-decoration: none; }
      .body-row .body-right .footer p {
        color: #AAAAAA; }

/* CALENDAR */
.dhx_cal_container {
  height: 100%; }

.dhx_cal_navline {
  display: none; }

.dhx_cal_header, .dhx_cal_data {
  margin-top: -25px; }

/* //// BOOTSTRAP OVERRIDES //// */
.row {
  margin: 0 !important; }

/* MISC */
.red {
  color: #ff0000; }

.green {
  color: #66CD00; }
